@keyframes example {
  50% {
    transform: translateX(+15%) rotate(-5deg);
  }
}

/* The animation code */
@keyframes weaveshake {
  50% {
    transform: rotate(13deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.view {
  background: linear-gradient(to right, red, yellow);
  z-index: 20;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.shake {
  position: absolute;
  left: 500px;
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  z-index: 50;
  top: 40px;
}

.weave {
  position: absolute;
  left: -14%;
  top: 51%;
  animation-name: weaveshake;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transform-origin: 29% 8%;
  z-index: -50;
}

#weave2 {
  animation-name: weaveshake;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  position: absolute;
  left: 81%;
  top: 57%;
}

#weaves {
  position: absolute;
  left: 40px;
  top: 60%;
}

#weaves2 {
  position: absolute;
  left: 40px;
  top: 75%;
  animation-duration: 4s;
}

.vl {
  border-left: 4px solid #6e6418;
  height: 195px;
  position: absolute;
  top: -30%;
  left: 90px;
  z-index: -50;
  transform: rotate(27deg);
}

#string2 {
  top: -30%;
  left: 248px;
  transform: rotate(345deg);
}

#bg {
  position: absolute;
  left: 0px;
  top: -20%;
  width: -webkit-fill-available;
}

#text {
  position: absolute;
  right: 100px;
  top: 20px;
  z-index: -500;
}


/* Responsive styles for mobile */
@media (max-width: 856px) {
  #bg {
    position: absolute;
    left: 0px;
    top: 26%;
    width: -webkit-fill-available;
  }

  #text {
    width: 60%;
    left: -22%;
    top: 10%;
    bottom: 15%;
    transform: translateX(50%);
  }

  .nextPage {
    right: 23%;
    transform: translateX(50%);
    font-size: 1.8rem;
    z-index: auto;
    bottom: 4%;
  }

  .nextPage button {
    font-size: 1.8rem;
  }
}

/* Small mobile devices */
@media (max-width: 480px) {
  #bg {
    position: absolute;
    top: 0%;
    width: -webkit-fill-available;
  }

  .shake {
    position: absolute;
    left: 52%;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    z-index: 50;
    top: 40px;
  }

  #text {
    width: 60%;
    left: -25%;
    top: 18%;
    bottom: 15%;
    transform: translateX(50%);
  }
}
